@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
body {
  height: 100vh;

}
:root {
  --main-btn-color : #166aea;
  --main-red : #ea163d;
  --main-inner-color : #ccd6e8;
  --main-inner-light-color : #e7e9ee;
  --main-cancel-color : #37af29;
  --main-excel-color : 222,234,223,1;
  --main-gray-line : #dfe5eb;
  --thumbnail-line: #2f8da9;
  --modal-background: rgba(47, 46, 46, 0.7);
  --drawer-background: rgba(68, 67, 67, 0.6);
}
.shrink-word{
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.slide-left{
  opacity: 0;
  position: absolute;
  animation: left-in 1s forwards;
}
.slide-right{
  opacity: 0;
  position: absolute;
  animation: right-in 1s forwards;
}
.slide-right-delay{
  opacity: 0;
  position: absolute;
  animation: right-in 1s 0.5s forwards;
  overflow-x: hidden;
}
.keyFix + input{
  opacity: 0;
  animation: showup 1s forwards;
}
.api-loading-container> img{
  border-radius: 5px;
  z-index: 999;
  background: white;
  position: fixed;
  padding: 5px;
  top:30%;
  width: 110px;
  left: calc(50% - 55px);
}
.modal-background{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 998;
  background: rgba(31,48,60,.9);
}
.postal-background{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 998;
  background: rgba(31,48,60,.6);
}
.border-bottom{
  border-radius: 0;
  border-bottom: 1px solid var(--main-gray-line);
}
.gender-radio input[type="radio"]{
  display: none;
}
.gender-radio label{
  border-radius: 5px;
  height: 140px;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid var(--main-gray-line);
  padding: 20px;
}
 @keyframes left-in {
   from{
     left: -100%;
   }
   to{
     left: 30px;
     opacity: 1;
   }
 }


@keyframes right-in {
   from{
     right: -100%;
   }
   to{
     right: 30px;
     opacity: 1;
   }
 }

@keyframes showup {
  from{
  }
  to{
    opacity: 1;
  }
}

.Headland{
  font-family: 'Headland One', sans-serif; /* Google Fonts에서 가져온 폰트 이름을 여기에 적용합니다 */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-outline{
  outline: none;
}
.z-999{
  z-index: 998;
}
.line-h-30{
  line-height: 30px;
}
.line-h-35{
  line-height: 35px;
}
.line-h-50{
  line-height: 50px;
}
.line-h-40{
  line-height: 40px;
}
.line-h-45{
  line-height: 45px;
}
.nav-bar{
  z-index: 997;
  position: fixed;
  top: 0;
  background-color: #ffffff;

}
.shadow-wix{
  box-shadow: 0 -2px 9px 1px hsla(205,7%,51%,.2);
}
.containers{
  padding-top: 45px;
}
.dropMenu{
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 990;
  padding: 20px 30px;
  position: fixed;
  top:-100%;
  left: 0%;
  transition: transform 0.4s ease-in-out;
}
.weekSelector-border{
  border-bottom:1px solid #a1ace7;
}
.today{
  border-bottom:4px solid #4d5fbe;
}
.drop-in{
  transform: translateY(calc(100% + 65px));
  transition: transform 0.5s ease-in-out;
}
.slideMenu{
  background-color: white;
  height: 100%;
  width: 80%;
  z-index: 999;
  padding: 20px 30px;
  position: fixed;
  top:0;
  right: -100%;
  transition: transform 0.4s ease-in-out;
}
.slide-in{
  transform: translateX(-125%);
  transition: transform 0.4s ease-in-out;
}
.dropMenu > ul > li {
  font-size: 20px;
  margin-bottom: 25px;
}
.slideMenu > ul{
  height: calc(100% - 185px);
  margin-top: 3rem;
}
.menu-bottom{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 70px;
  padding-top: 20px;
  border-top: 1px solid var(--main-gray-line);
  padding-bottom: 15px;
  background: white;
}
.over-y{
  overflow-y: scroll;
}
.menu-bottom-slide{
  padding: 24px 0 32px;
  height: 90px;
  margin-top: auto;
  border-top: 1px solid var(--main-gray-line);

}
.top-10{
  top:10px
}
.right{
  right: 0;
}
.user-family-name{
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: white;
  background: var(--main-btn-color);
  margin-left: auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-panel{
  padding: 80px 25px 10px;
  background-color: white;
}
.user-panel-info{
  width: calc(100% - 90px);
}
.user-panel-image{
  width: 90px;
  height: 90px;
  margin-top: 20px;
  border-radius: 50%;
}  .user-panel-subject{
  display: inline-block;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bolder;
}
.user-panel-logout{
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.gender-icon{
  margin-top: -5px;
  width: 25px;
  display: inline-block;
  margin-right: 10px;
}
.user-personal-info{
  line-height: 25px;
}
.user-panel-info > p.sep{
  font-size: 0.9rem;
  margin-top: 5px;
}
.user-age-bold{
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.joinbtn{
  display: block;
  padding: 5px 20px;
  color: #464545;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.loginbtn_Y{
  display: block;
  background-color: var(--main-btn-color);
  width: 95%;
  border-radius: 30px;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  text-align: center;
}

ul.dropLi{
  height: 100%;
  margin-top: 7px;
  padding-top: 20px;
  background-color: white;
}
ul.dropLi > a >li{
  font-weight: bold;
  padding: 10px 25px;
  margin : 10px 0;
}
.game-each{
  padding: 15px;
  /*position: relative;*/
  background: white;
  margin-bottom: 2px;
  height: 100px;
  border-bottom: 1px solid var(--main-gray-line);
}
.game-each-users{

}
.game-each-user-each{

  border: 1px solid var(--main-gray-line);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.game-each-status{
  margin-right: 10px;
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 3px;
  color: white;
}
.open{
  border: 1px solid #19750e;
  background: var(--main-cancel-color);
}
.playing{
  border: 1px solid #0f4ba2;
  background: var(--main-btn-color);
}
.end{
  border: 1px solid #af1330;
  background: var(--main-red);
}
.vertical-slicer{
  border-left: 1px solid var(--main-inner-color);
  height: 100%;
  margin: 0px 5px ;
}
.radius-no{
  border-radius: 0px;
}
.postal-btn{
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  margin-top: 2rem;
  border: 1px solid var(--main-btn-color);
}
.border-b-btn{
  border-bottom: 1px solid var(--main-btn-color);
}
.courses{
  outline: none;
  border-radius: 3px;
  text-align: center;
  width: 50px;
  margin-bottom: 1rem;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid var(--main-inner-color);
  /*border: 1px solid var(--main-btn-color);*/
}
.create-field{
  border: 1px solid var(--main-inner-color);
  width: 100%;
  border-radius: 8px;
  height: calc(100% - 40px);
}
.create-filed-body{
  /*padding: 10px;*/
  width: 100%;
  transition: 0.35s ease;
  overflow: hidden;
}
.create-filed-foot{
  padding-top: 2px;
  height: 40px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  border-top: 1px solid var(--main-inner-color);
}
.draw-up-handler{
  width: 100%;
  padding-top: 0px;
  height: 10px;

}
.draw-up-handler-pointer{
  margin: auto;
  width: 40%;
  height: 3px;
  background: #c1c1c2;
  border-radius: 40px;
}
.text-shadow{
  text-shadow: 5px 5px 4px rgb(0, 255, 0);
}